<md-card>
    <md-card-title>
        Project actor templates
    </md-card-title>
    <p>
        <button [routerLink]="['/project', pkey]" md-raised-button>Project: {{project?.name }}</button>
    </p>
    <p>
        <br>
        <b>Project name:</b> {{project?.name }} <br>
        <b>Template:</b> {{actortemplate?.actor }} <br>
        <b>Beschrijving:</b> {{actortemplate?.beschrijving }} <br>
        <button [routerLink]="['/project', pkey, 'template', atkey, 'edit']" md-raised-button>Bewerken</button>
    </p>
    <table class="Actortabel">
        <tr>
            <th>Naam</th>
            <th>Functie</th>
            <th><button [routerLink]="['/project', pkey, 'template', atkey, 'actor', 'add']" md-raised-button>Add</button></th>

        </tr>
        <tr *ngFor="let proj of actors">
            <td> {{ proj.naam}}</td>
            <td> {{ proj.functie}}</td>
            <td><button [routerLink]="['/project', pkey, 'template', atkey, 'actor', proj.$key]" md-raised-button>Details</button></td>
        </tr>

    </table>
</md-card>
