<md-card>
    <md-card-title>
        Project actor templates
    </md-card-title>
    <p>
        <br>
        <b>Project name:</b> {{project?.name }} <br>
        <b>Template:</b> {{actortemplate?.actor }} <br>
        <b>Beschrijving:</b> {{actortemplate?.beschrijving }}
    </p>
    <table class="Actortabel">
        <tr>
            <th>Naam</th>
            <th></th>

        </tr>
        <tr *ngFor="let proj of actors">
            <td> {{ proj.naam}}</td>
            <td><button [routerLink]="['/project', pkey, 'template', atkey, 'actor', proj.$key]" md-raised-button>Details</button></td>
        </tr>

    </table>
</md-card>
