<form #formRef="ngForm">
  <md-card class="card50perc">
    <md-card-title>
      Registration form workshop RXJS (field validation)
    </md-card-title>

    <md-input-container>
      <input
        mdInput
        name="fullName"
        type="text"
        required
        ngModel
        #fullNameRef="ngModel"
        placeholder="Enter fullname"/>
    </md-input-container>
    <div class="error" *ngIf="!fullNameRef.valid">Fullname is a required field.</div>
    <br>
    <md-input-container>
      <input
        mdInput
        type="text"
        name="email"
        required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,63})+$"
        ngModel
        #emailRef="ngModel"
        placeholder="Enter email address"/>
    </md-input-container>

    <div class="error" *ngIf="emailRef.errors?.pattern">This is not a valid email address yet</div>
    <div class="error" *ngIf="emailRef.errors?.required">Email is a required field</div>

    <span>Current errors on email: </span>{{ emailRef.errors | json }}

    <br><br>
    <md-select placeholder="Select knowledge level"
               name = "knowledgeLevel"
               #knowledgeRef="ngModel"
               required
               ngModel>
      <md-option md-input
                 *ngFor="let level of knowledgelevels"
                 [value]="level">
        {{ level }}
      </md-option>
    </md-select>
    <br>
    <br>

    <div class="error" *ngIf="!knowledgeRef.valid">Knowledgelevel is a required field</div>

    <br><br>

    <md-checkbox name= "presence"
                 ngModel>
      I will be present
    </md-checkbox>

    <br><br>

    <md-input-container *ngIf="!formRef.value.presence">
      <textarea
        mdInput
        ngModel
        required
        minlength="10"
        #reasonRef="ngModel"
        name = "reason"
        placeholder="Reason of absence">
       </textarea>

      <br>

      <div class="error" *ngIf="reasonRef.errors?.required">Reason is a required field</div>
      <div class="error" *ngIf="reasonRef.errors?.minlength">Please give a proper reason. Minimal 10 characters</div>
    </md-input-container>


    <br><br>

    <md-card-actions align="end">
      <button routerLink="/registrations"
              [disabled]="!formRef.valid"
              (click)="register(formRef.value)"
              md-raised-button
              type="submit"
              disabled>
        Register
        <md-icon>done</md-icon>
      </button>
    </md-card-actions>


  </md-card>
</form>


<pre>
  {{ formRef.value | json}}
  valid: {{formRef.valid | json}}
</pre>
