<md-card>
  <md-card-title>
    Projects
  </md-card-title>
  <table class="projecttabel">
    <tr>
      <th>Naam</th>
      <th><button [routerLink]="['/project', 'add']" md-raised-button>Add</button></th>

    </tr>
    <tr *ngFor="let proj of projects">
      <td *ngIf="!proj.isArchived"> {{ proj.name}}</td>
      <td *ngIf="!proj.isArchived">
        <button [routerLink]="['/project', proj.$key]" md-raised-button>Details</button>
        <button [routerLink]="['/']" *ngIf="proj.analist == user.auth.email" (click)="archive(proj)" md-raised-button>Archiveer</button>
      </td>
    </tr>

  </table>
</md-card>

