<md-card>
    <md-card-title>
        Project actor templates
    </md-card-title>
    <p>
        <br>
        <b>name:</b> {{project?.name }} <br>
        <b>Description:</b> {{project?.description }}
    </p>
    <table class="templatestabel">
        <tr>
            <th>Naam</th>
            <th><button [routerLink]="['/project', key, 'template', 'add']" md-raised-button>Add</button></th>

        </tr>
        <tr *ngFor="let proj of actortemplates">
            <td *ngIf="!proj.isArchived"> {{ proj.actor}}</td>
            <td *ngIf="!proj.isArchived">
                <button [routerLink]="['/project', key, 'template', proj.$key]" md-raised-button>Details</button>
                <button [routerLink]="['/project', key]" (click)="archive(proj)" md-raised-button>Archiveer</button>
            </td>
        </tr>

    </table>
</md-card>
