<form #formRef="ngForm">
  <md-card class="card50perc">
    <md-card-title>
      Project toevoegen
    </md-card-title>

    <md-input-container>
      <input
              mdInput
              name="analist"
              type="text"
              required
              ngModel
              #actorRef="ngModel"
              placeholder="Enter analist e-mail"/>
    </md-input-container>
    <div class="error" *ngIf="!actorRef.valid">Analist is vereist</div>
    <br>
    <md-input-container>
      <input
              mdInput
              name="description"
              type="text"
              required
              ngModel
              #beschrijvingRef="ngModel"
              placeholder="Enter beschrijving"/>
    </md-input-container>
    <div class="error" *ngIf="!beschrijvingRef.valid">Beschrijving is vereist</div>
    <br>
    <md-input-container>
      <input
              mdInput
              name="name"
              type="text"
              required
              ngModel
              #beschrijvingRef="ngModel"
              placeholder="Enter naam"/>
    </md-input-container>
    <div class="error" *ngIf="!beschrijvingRef.valid">Naam is vereist</div>

    <md-card-actions align="end">
      <button [routerLink]="['/']"
              [disabled]="!formRef.valid"
              (click)="register(formRef.value)"
              md-raised-button
              type="submit"
              disabled>
        Toevoegen
        <md-icon>done</md-icon>
      </button>
    </md-card-actions>

  </md-card>
</form>

